@import "src/index.scss";

.result-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.hide {
    display: none;
  }
}

.result-container {
  padding: 12px 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .result-picture {
    width: 200px;
    height: 200px;

    border-radius: 8px;
    margin-bottom: 15px;
  }

  .hint-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 14px;
    color: #777777;
    background-color: $nonalcholic-white;
    white-space: pre-wrap;

    height: 28px;
    text-align: center;
  }
  .result-title {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;

    &.one {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }
    &.two {
      font-size: 30px;
      font-weight: 700;
      text-align: center;

      padding-bottom: 8px;
    }
  }

  .result-context {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    white-space: pre-wrap;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
    line-height: 24px;
  }

  .result-description {
    font-size: 14px;
    line-height: 27px;
    text-align: center;

    padding: 0 8px;

    white-space: pre-wrap;
    word-break: keep-all;
  }

  .hidden-url {
    font-size: 14px;
    color: #777777;
    padding: 36px 0 24px;
    display: none;

    &.show {
      display: initial;
    }
  }
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 12px;
}
