.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin: auto 0;
}

.image-container {
  position: relative;
  padding-top: 80px;

  .title {
    position: absolute;
    width: 100%;
    top: 32px;
  }
  .main-image {
    width: 480px;
  }
}
