.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin: auto 0;
}
.description-containers {
  position: absolute;

  top: 380px;
  left: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  width: 100%;
  padding: 16px 32px;
  opacity: 0;
  box-sizing: border-box;
  transition: all 0.5s;
  background-color: white;

  word-break: keep-all;
  text-align: center;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  &.true {
    left: 0;
    opacity: 1;
  }
}

.main-image-container {
  position: relative;
  padding-top: 100px;

  .title {
    position: absolute;
    width: 100%;
    top: 28px;
  }
  .main-image {
    width: 300px;
  }
}
