@import "src/index.scss";
.header {
  .show-mbti {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
      margin-right: 4px;
    }

    line-height: 18px;
    font-size: 14px;
  }
}
