.root-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;

  max-width: 600px;
  height: 100vh;
  margin: 0 auto;

  overflow: auto;
}

.title {
  font-size: 28px;
}
.context {
  font-size: 36px;
  font-weight: bold;
}
.description {
  font-size: 18px;
  white-space: pre-wrap;

  text-align: center;
}

.hint {
  font-size: 14px;
  color: #383838;
  white-space: pre-wrap;

  text-align: center;
}

.large-button {
  width: 160px;
  height: 40px;

  border-radius: 8px;
  border: 2px solid #383838;
  background: transparent;

  cursor: pointer;
  font-weight: bold;
  font-size: 18px;

  transition: all 0.2s;
  &:hover {
    background-color: #cec0af;
  }
}

.extra-large-button {
  width: calc(100% - 48px);
  height: 160px;
  border-radius: 8px;
  border: 2px solid #383838;
  background: transparent;

  cursor: pointer;
  font-weight: bold;
  font-size: 18px;

  transition: all 0.2s;
  &:hover {
    background-color: #cec0af;
  }
}

.small-button {
  width: 40px;
  height: 40px;
  padding: 8px;

  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  background: transparent;

  cursor: pointer;

  transition: all 0.2s;
  &:hover {
    background-color: #cec0af;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
