@import "src/index.scss";

.total-count {
  font-size: 16px;
  font-weight: 600;

  margin: 0 auto 8px 4px;
}

.bar-graph {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;

  padding: 12px;
  margin-bottom: 24px;

  border: 2px solid $alcholic-gray;
  border-radius: 8px;
  box-sizing: border-box;

  transition: all 0.3s;
  &:hover {
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15);
  }

  .element {
    display: flex;
    flex-direction: row;

    .type {
      width: 64px;
      padding: 0 12px;
      box-sizing: border-box;
      font-weight: bold;
    }
    .bar {
      height: 20px;
      border-radius: 10px;

      transform-origin: 0% 50%;
      animation: extention 1s;
    }
    .count {
      padding: 0 12px;
      width: 64px;
      box-sizing: border-box;
      font-size: 14px;
    }
  }
}

@keyframes extention {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
