@import "src/index.scss";

.total-count {
  font-size: 16px;
  font-weight: 600;

  margin: 0 auto 8px 4px;
}

.bar-graph {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;

  padding: 12px 8px;
  margin-bottom: 24px;

  border: 2px solid $nonalcholicgray;
  border-radius: 8px;
  box-sizing: border-box;

  transition: all 0.3s;
  &:hover {
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15);
  }

  .element {
    display: flex;
    flex-direction: row;

    .type {
      width: 80px;
      font-size: 14px;
      box-sizing: border-box;
      font-weight: 600;
    }
    .bar-container {
      flex: 1;
      .bar {
        position: relative;
        height: 20px;
        min-width: 24px;
        border-radius: 10px;

        background-color: $nonalcholic-yellow;
        transform-origin: 0% 50%;
        animation: extention 1s;

        .count {
          position: absolute;
          top: 0;
          right: 8px;

          margin-left: 8px;

          box-sizing: border-box;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
    .percent {
      margin-left: 8px;
      box-sizing: border-box;
      font-size: 14px;
      text-align: right;
    }
  }
}

@keyframes extention {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
