@import "src/index.scss";

.compare-graph {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;

  padding: 12px;

  border: 2px solid $alcholic-gray;
  border-radius: 8px;
  box-sizing: border-box;

  transition: all 0.3s;
  &:hover {
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15);
  }

  .comparable {
    display: flex;
    flex-direction: row;
    // justify-content: stretch;
    //   align-items: stretch;

    .type {
      min-width: 24px;
      line-height: 24px;
      box-sizing: border-box;
      font-weight: bold;
      text-align: center;
    }
    .bar-container {
      flex: 1;

      .bar {
        position: relative;
        height: 24px;

        border-radius: 10px;
        background-color: $nonalcholic-yellow;
        animation: extention 1s;

        .count {
          position: absolute;
          font-size: 14px;
          line-height: 24px;
        }

        &.left {
          margin-right: auto;
          transform-origin: 0% 50%;

          .count {
            right: 8px;
          }
        }
        &.right {
          margin-left: auto;
          transform-origin: 100% 50%;

          .count {
            left: 8px;
          }
        }
      }
    }
  }
}

@keyframes extention {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
